.cart-card-container {
  margin: 20px auto;
  width: 95%;
  border: 2px solid var(--blue);
}

.cart-card-container .pc2-container {
  border: none;
  width: 90%;
}

.cart-product-extra {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.quantity {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.quantity div {
  font-size: 1.5rem;
}

.quantity-item {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.quantity-item button {
  font-size: 1.5rem;
  /* font-weight: 700; */
  margin: 0px 5px;
}

.remove {
  padding: 5px 0px;
  border-radius: 5px;
  width: 5%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}

.remove img {
  width: 60%;
  display: block;
  margin: auto;
}

.remove:hover {
  background-color: rgba(255, 0, 0, 0.75);
}

@media (min-width: 600px) and (max-width: 900px) {
  .cart-card-container .pc2-img-box {
    width: 80%;
    margin: 0px auto;
  }

  .cart-card-container .pc2-img-box img {
    width: 80%;
    margin: 0px auto;
  }
}
