.mb-product-page-container {
  width: 100%;
}

.mb-product-detail-container {
  width: 100%;
}

.mb-product-img-container {
  width: 100%;
  padding: 20px 0;
  background-color: var(--Black);
}

.mb-product-img-container .mb-product-img {
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px var(--White);
}

.mb-product-name {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 250px;
}

.mb-product-price {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--Green);
}

.mb-product-info-container {
  padding: 10px 10px;
}

.mb-product-details {
  display: none;
}

.mb-product-description-container {
  padding: 10px 0;
}

.mb-product-side-container {
  padding: 10px;
}

.mb-size-heading {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.mb-product-size-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mb-product-size-container ul {
  display: flex;
  gap: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mb-product-size-container ul li {
  background-color: var(--Yellow);
  color: var(--Black);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 7px;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.mb-product-size-container ul .mb-available-size {
  opacity: 1;
}

.mb-btn-container {
  display: flex;
  gap: 10px;
}

.mb-product-btn {
  background-color: var(--Light);
  border: none;
  border-radius: 5px;
  color: var(--Black);
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.mb-product-btn:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mb-product-btn:active {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.mb-product-btn a {
  text-decoration: none;
  color: var(--Black);
  width: 100%;
}

.mb-add-to-cart-btn {
  background-color: var(--Yellow);
}

.mb-buy-now-btn {
  background-color: var(--Green);
}

.mb-product-review-container {
  color: var(--Black);
  padding: 2.5% 10px;
}

.mb-product-review-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.mb-product-review-heading h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1rem;
}

.mb-write-or-ask-plus {
  background-color: var(--Black);
  color: var(--Yellow);
  border-radius: 50px;
  padding: 8px;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-reviews-container {
  display: flex;
  overflow-x: scroll;
}

.mb-write-review-container {
  border: 2px solid var(--Blue);
  border-radius: 10px;
  margin-right: 20px;
  min-width: 80%;
}

.mb-write-review-container h3 {
  width: 70%;
  margin: 0px 5%;
  border-bottom: 2px solid var(--Black);
}

.mb-review-form textarea {
  width: 97%;
  height: 77px;
  background-color: var(--Light);
  padding: 3px;
}

.mb-review-form .review-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.mb-review-form {
  width: 90%;
  margin: 8px auto;
}

.mb-review-rating-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-review-form .mb-star-rating {
  width: 65%;
  margin: 2px auto;
}

.mb-review-form button,
.mb-faq-form button {
  display: block;
  border: 2px solid var(--Black);
  border-radius: 3px;
  padding: 5px;
  color: var(--White);
  background-color: var(--Black);
  font-size: 1.25rem;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.mb-faq-form .mb-review-rating-form {
  justify-content: flex-end;
}

.mb-faq-form {
  width: 90%;
  margin: 20px auto;
}

.mb-faq-form textarea {
  display: block;
  width: 97%;
  padding: 3px;
  background-color: var(--Light);
  margin: 5px 0px;
}

.mb-faq-answer {
  height: 72px;
}
