textarea {
  resize: none;
}

.product-detail-container {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  padding: 0 5%;
}

.product-info-container {
  font-size: 2rem;
}

.product-img-container {
  position: relative;
  top: 75px;
  width: 30%;
  height: 110%;
  border-radius: 5px;
  margin-bottom: 0px;
}

.product-img-container .product-img-btn-container {
  display: flex;
  align-items: center;
  width: 275px;
  margin: 0 20%;
  gap: 5px;
}

.product-img-placeholder {
  width: 275px;
  height: 300px;
  border-radius: 10px;
  padding: 0 20%;
  margin: 0;
}

.product-img-container .img-btn-container {
  background-color: var(--yellow);
  border-radius: 4px;
  border: 2px solid var(--black);
  cursor: pointer;
  padding: 4px 8px;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black);
}

.product-name {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 250px;
}

.product-price {
  font-size: 2rem;
  font-weight: 500;
  color: var(--green);
}

.product-img {
  width: 275px;
  height: 300px;
  margin: 0px 20%;
  border: 3px solid var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 12px 2px var(--blue);
}

.product-side-container {
  padding: 5px;
}

.size-heading {
  margin: 10px 0px;
  font-size: 1.5em;
}

.product-size-container {
  width: 100%;
}

.product-size-container ul {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-size-container ul li {
  background-color: var(--yellow);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.product-size-container ul .available-size {
  opacity: 1;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.product-btn {
  background-color: var(--white);
  border: none;
  box-shadow: 3px 3px 0px 1px var(--green);
  border-radius: 4px;
  color: var(--black);
  margin-top: 10px;
  padding: 5px 10px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

.product-btn span {
  font-weight: 600;
}

.product-btn a {
  text-decoration: none;
  color: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-description-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 75px 0px;
}

.product-description-container h2 {
  color: var(--green);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.product-description {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 5%;
  width: 30%;
}

.product-details {
  margin-right: 5%;
  width: 20%;
}

.product-scale-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-scale-item p {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
}

.product-scale-item .product-scale {
  margin: 2px 0px;
  font-size: 1.5rem;
  color: var(--yellow);
}

.product-review-container {
  background-color: var(--white);
  color: var(--black);
  padding: 2.5% 5%;
}

.product-review-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.product-review-heading h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.write-or-ask {
  background-color: var(--black);
  color: var(--yellow);
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 1.25rem;
}

.write-or-ask-plus {
  display: none;
  font-size: 1.25rem;
}

.reviews-container {
  display: flex;
  overflow-x: scroll;
}

.write-review-container {
  border: 2px solid var(--blue);
  border-radius: 10px;
  margin-right: 20px;
  min-width: 28%;
}

.write-review-container h3 {
  width: 70%;
  margin: 0px 5%;
  border-bottom: 2px solid var(--black);
}

.review-form textarea {
  width: 97%;
  height: 77px;
  background-color: #f3f3f3;
  padding: 5px;
}

.review-form .review-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.review-form {
  width: 90%;
  margin: 8px auto;
}

.review-form .star-rating {
  width: 65%;
  margin: 2px auto;
}

.review-form button,
.faq-form button {
  width: 30%;
  display: block;
  margin: 0px auto;
  border: 2px solid var(--black);
  border-radius: 3px;
  padding: 5px;
  color: var(--white);
  background-color: var(--black);
  font-size: 1.25rem;
  font-weight: 500;
}

.faq-form {
  width: 90%;
  margin: 20px auto;
}

.faq-form textarea {
  display: block;
  width: 97%;
  padding: 5px;
  background-color: #f3f3f3;
  margin: 5px 0px;
}

.faq-answer {
  height: 72px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .product-description-container {
    flex-direction: column;
  }

  .product-img-container {
    width: 50%;
  }

  .product-description {
    width: 90%;
  }

  .product-details {
    width: 90%;
    margin: 20px auto;
  }

  .product-review-heading h2 {
    font-size: 1rem;
  }

  .write-review-container {
    min-width: 60%;
  }

  .write-review-container h3 {
    width: 70%;
    font-size: 1rem;
  }
}

/* Different for Product Detail & Description Container */
@media (min-width: 600px) and (max-width: 900px) {
}

@media (min-width: 300px) and (max-width: 600px) {
  .product-detail-container {
    flex-direction: column;
  }

  .product-info-container {
    font-size: 2rem;
    position: relative;
    top: 120px;
  }

  .product-img-container {
    position: relative;
    top: 135px;
    width: 95%;
  }

  .product-img-btn-container {
    display: flex;
    align-items: center;
  }

  .product-side-container {
    position: relative;
    top: 150px;
    color: var(--black);
    width: 70%;
  }

  .product-description-container {
    flex-direction: column;
    padding-top: 275px;
  }

  .product-description {
    width: 90%;
  }

  .product-details {
    width: 90%;
    margin: 20px auto;
  }

  .product-review-heading h2 {
    font-size: 1.25rem;
  }

  .write-or-ask {
    display: none;
  }

  .write-or-ask-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 30px;
    background-color: var(--black);
    color: var(--yellow);
    border-radius: 50%;
  }

  .write-or-ask-plus span {
    font-size: 1.5rem;
    position: relative;
    top: -2px;
  }

  .write-review-container {
    min-width: 85%;
  }

  .write-review-container h3 {
    width: 80%;
    font-size: 1rem;
  }

  .review-form .star-rating {
    width: 90%;
  }
}

/* Common For both views */
@media (min-width: 300px) and (max-width: 1200px) {
  .review-form button {
    width: 50%;
  }

  .faq-form button {
    width: 50%;
  }
}
