.product-list-container {
  background-color: var(--white);
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: max-content;
}

.product-list-container .product-card-link {
  width: 45%;
  height: max-content;
  /* max-height: 100px; */
}
