.profile-page {
  background-color: var(--white);
}

.user-info-container {
  width: 90%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  padding: 50px 5%;
  color: var(--yellow);
}

.user-img-container {
  width: 35%;
}

.user-img-container div {
  width: 50%;
  /* margin: auto; */
}

.user-img-container img {
  width: 100%;
  border-radius: 15px;
}

.user-details-container {
  width: 65%;
}

.user-detail-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

.user-detail-item h2 {
  font-size: 2rem;
  margin: 15px 0px;
}

.user-name-box {
  display: flex;
  justify-content: space-between;
}

.user-name-box button {
  background-color: var(--yellow);
  color: var(--black);
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 1rem;
}

.user-data-type {
  width: 25%;
  font-weight: 600;
  margin: 0;
}

.user-data {
  width: 75%;
  margin: 0;
}

.user-orders-container {
  width: 90%;
  padding: 0px 5%;
  margin: auto;
  background-color: var(--white);
}

.order-heading {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 0px 5px;
}

.order-table {
  width: 100%;
}

.order-table-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.order-heading-item {
  margin: 0;
  width: 30%;
  font-size: 1.25rem;
  font-weight: 600;
}

.not-found-img {
  margin: auto;
  width: 30%;
  margin-top: 50px;
  text-align: center;
}

.not-found-img img {
  width: 100%;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.order-detail-item {
  margin: 0;
  width: 30%;
}
