.faq {
  width: 30%;
  color: var(--yellow);
  background-color: var(--black);
  min-width: 28%;
  margin-right: 2%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: 200px;
}

.faq-author {
  text-align: right;
  font-size: 1.75rem;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .faq {
    min-width: 60%;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .faq {
    min-width: 86%;
  }
}

/* Common Area for both Mobile and Tab View */
@media (min-width: 300px) and (max-width: 1200px) {
  .faq-author {
    font-size: 1.5rem;
    right: 10px;
  }
}
