.star-rating {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.star {
  display: inline;
  font-size: 50px;
}

.star:hover {
  cursor: pointer;
}

.on {
  color: var(--yellow);
}

.off {
  color: dimgray;
}
