.seller-account-container {
  padding: 50px 25px;
}

.seller-account-container .hero-heading {
  font-size: 4rem;
  margin: 0px;
  padding: 0;
  padding-left: 50px;
}

.seller-container {
  display: flex;
}

.seller-form {
  width: 60%;
  padding-left: 50px;
}

.form-item {
  margin: 15px 0px;
}

.form-item input {
  width: 60%;
  margin: auto;
}

.checkbox-item {
  display: flex;
  align-items: center;
}

.seller-btn-container {
  width: 60%;
}

.seller-btn-container button {
  width: 90%;
  margin: 50px 7% 10px;
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 50px;
  padding: 5px 0px;
  font-size: 1.75rem;
  font-weight: 700;
}
