.recently-viewed-container {
  background-color: var(--yellow);
  color: var(--black);
  padding: 35px 10px;
  margin: 0px;
}

.recently-viewed-container h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 1.5rem;
}

.recent-box {
  display: flex;
  /* justify-content: space-between; */
  overflow-x: scroll;
  height: fit-content;
}

.top-trends-container {
  padding: 35px 10px;
}

.top-trends-container h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 1.5rem;
}

.top-trend-box {
  display: flex;
  /* justify-content: space-between; */
  overflow-x: scroll;
  height: fit-content;
}

.product-card-link {
  min-width: 20%;
  height: 100%;
  text-decoration: none;
  color: var(--black);
}

/* Tab View */

@media (min-width: 800px) and (max-width: 1250px) {
  .product-card-link {
    min-width: 30%;
  }
}

/* Mobile Landspack View */

@media (min-width: 500px) and (max-width: 800px) {
  .product-card-link {
    min-width: 50%;
  }
}

/* Mobile View */

@media (min-width: 300px) and (max-width: 500px) {
  .product-card-link {
    min-width: 75%;
  }

  .recently-viewed-container h2 {
    font-size: 1.25rem;
  }

  .top-trends-container h2 {
    font-size: 1.25rem;
  }
}
