@media (min-width: 300px) and (max-width: 1150px) {
  .menu-container-list {
    list-style-type: none;
    width: 100%;
    display: flex;
    display: none;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
  }

  .hidden-category-box {
    display: none;
    width: 75%;
    margin: auto;
    position: absolute;
    top: 100%;
    background-color: var(--blue);
    text-align: center;
  }

  .menu-item:hover ~ .hidden-category-box {
    display: block;
    width: 100%;
  }

  .hidden-category-box:hover {
    display: block;
    width: 100%;
  }

  .category-box {
    padding: 5px 0px;
    /* width: 100%; */
  }

  .category-heading {
    font-size: 1rem;
  }

  .category-sub-item {
    /* width: 100%; */
    margin: 0px;
  }

  .show-menu-bar {
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: var(--blue);
  }

  .menu-container-list {
    display: flex;
    /* width: 100%;
    position: absolute;
    top: 100%;
    left: 0px; */
    background-color: var(--blue);
  }

  /* .menu-bars:hover ~ .menu-container-list {
    display: flex;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: var(--blue);
  } */

  .category-type p {
    font-size: 1rem;
  }

  /* .menu-bars:hover .menu-bar-item {
    background-color: var(--yellow);
  } */
}
