.review {
  width: 30%;
  color: var(--yellow);
  background-color: var(--black);
  min-width: 28%;
  margin-right: 2%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: 200px;
}

.review-card-bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 15px;
  font-size: 1.75rem;
  width: 90%;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .review {
    min-width: 60%;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .review {
    min-width: 86%;
  }
}

/* Common Area for both Mobile and Tab View */
@media (min-width: 300px) and (max-width: 1200px) {
  .review-card-bottom {
    font-size: 1.5rem;
  }
}
